body {
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;

}

h1 {
	text-align: center;
	color: red;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-weight: 700;
}

h4 {
	color: grey;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 12px;
}

h3 {
	text-transform: none;
	margin-bottom: 2em;
	cursor: pointer;
}
span {
	font-weight: 700;
}

a {
	color: red;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: solid 1px red;
}

.button, .button-small {
	background-color: red;
	padding: 12px 20px;
	box-sizing: border-box;
	color: white;
	border: none;
	transition: 0.5s ease;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	margin-right: 10px;

}

.button-small {
	padding: 5px;
}

.button:hover, .button:focus, .button:active {
	opacity: 0.7;
	background-color: red;
}


.contentContainer {
	max-width: 1200px;
	margin: 0 auto;
}

.formContainer {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
}

.resultsContainer {
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.userInformation {

}

.congressList {
	display: inline;
}

.districtContainer, .membersContainer {
	float: left;
	width: 50%;
}



p {
	font-style: italic;
	font-size: 14px;
}